.header-phone {
  display: flex;
  align-items: center;
  padding-left: 23px; }
  .header-phone__link {
    font: 13px/1.4 "Montserrat", sans-serif;
    color: #83a7a5;
    position: relative;
    padding-left: 24px; }
    .header-phone__link::before {
      font-size: 16px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
  @media (max-width: 992px) {
    .header-phone {
      padding-left: 10px; }
      .header-phone__link {
        font-size: 12PX; } }
