@import '../../../variables.scss';
@import "../../../basis/_mixins.scss";

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: $colorTheme5;
  padding: 20px 0 15px;

  &-text {
    display: flex;
    color: $colorTheme2;
    align-items: center;
    font:normal 14px/1.4 $basis-font-family;

    * {
      margin: 0;
    }
  }

  &-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 auto;

    &-list {
      display: flex;

      &__item {

        &:not(:last-child) {
          margin-right: 10px;
        }
      }

      &__link {
        font-size: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        transition: ease-in-out background-color .3s;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          border-radius: 50%;
          opacity: 1;
          transition: linear transform .3s, linear opacity .3s;
        }

        &:hover {

          &.icon-twitter,
          &.icon-facebook,
          &.icon-camera-alt,
          &.icon-dribbble-2,
          &.icon-github {
            background-color: #000;
          }

          &::after {
            transform: scale(1.5);
            opacity: 0;
          }
        }

        &.icon-twitter {
          background-color: #55acee;

          &::after {
            border: 2px solid transparent;
          }

          &:hover {

            &::after {
              border: 2px solid #55acee;
            }
          }
        }

        &.icon-facebook {
          background-color: #3b5998;

                    &::after {
            border: 2px solid transparent;
          }

          &:hover {

            &::after {
              border: 2px solid #3b5998;
            }
          }
        }

        &.icon-camera-alt {
          background-color: #3f729b;

                    &::after {
            border: 2px solid transparent;
          }

          &:hover {

            &::after {
              border: 2px solid #3f729b;
            }
          }
        }

        &.icon-dribbble-2 {
          background-color: #ea4c89;

                    &::after {
            border: 2px solid transparent;
          }

          &:hover {

            &::after {
              border: 2px solid #ea4c89;
            }
          }
        }

        &.icon-github {
          background-color: #333;

                    &::after {
            border: 2px solid transparent;
          }

          &:hover {

            &::after {
              border: 2px solid #333;
            }
          }
        }

        &::before {
          font-size: 14px;
        }
      }
    }
  }

  @include breakpoint ($mobileM) {
    flex-direction: column-reverse;

    &-social {
      margin-bottom: 15px;
    }
  }
}
