.composition {
  padding: 73px 0 35px; }
  .composition-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    padding-top: 5px; }
    .composition-list__item {
      font-size: 14px;
      color: #83a7a5;
      padding: 0 15px 0 57px;
      width: 33.33%;
      position: relative;
      margin-bottom: 18px; }
      .composition-list__item:before {
        position: absolute;
        top: 50%;
        left: 17px;
        transform: translateY(-50%);
        font-size: 25px; }
  @media (max-width: 767px) {
    .composition {
      padding: 30px 0 20px; }
      .composition-list__item {
        width: 50%; } }
  @media (max-width: 480px) {
    .composition-list {
      margin: 0; }
      .composition-list__item {
        width: 100%; } }
