* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-transform: none;
}

html,
body {
	min-height: 100vh;
}

body {
	min-width: #{$basis-min-width-window}px;
	font: #{$basis-font-size}px/$basis-line-height $basis-font-family;
	color:$basis-color;
	display: flex;
	flex-direction: column;
}


button,
[type=reset],
[type=submit],
[type=image],
a {
	-webkit-transition: background-color #{$transitionTime}s, color #{$transitionTime}s;
	transition: background-color #{$transitionTime}s, color #{$transitionTime}s;
}

a {
	text-decoration: none;
	&:hover,
	&:focus {
		text-decoration: none;
	}
	&:focus {
		outline: 1px dotted;
		outline-color: inherit;
	}
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

b,
strong {
	font-weight: 700;
}

i,
em {
	font-style: italic;
}

p {
	margin: 0 0 15px;
}

%list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

%clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.accessibility{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
.accessibility:focus{
    position:static;
    width:auto;
    height:auto;
}

.container {
	max-width: 1085px;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
}