@import '../../variables.scss';
@import "../../basis/_mixins.scss";

.contact {
  padding-bottom: 105px;

  &-wrap {
    display: flex;
    margin: 0 -15px;
    padding-top: 58px;

    &__col {
      padding: 0 15px;

      &-form {
        padding: 0 45px 0 84px;
        width: 59%;
      }
    }
  }

  &-form {
    width: 100%;
  }

  &-holder {
    position: relative;
    max-width: 340px;
    padding: 32px 105px 47px 40px;

    &::before,
    &::after {
      content: '';
      background-image: url(decor-line-godisontal.png);
      background-repeat: repeat;
      height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      display: block;
    }

    &::before{
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &__title {
      text-transform: uppercase;
      color: $colorTheme3;
      font:300 22px/1.5 $basis-font-family;
      margin-bottom: 15px;
    }
  }

  &-inner {

    &::before,
    &::after {
      content: '';
      background-image: url(decor-line-vertical.png);
      background-repeat: repeat;
      width: 2px;
      position: absolute;
      top: 0;
      bottom: 0;
      display: block;
    }

    &::before{
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &-list {

    &__item {
      position: relative;
      padding-left: 30px;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        color: $colorTheme4;
      }
    }

    &__address {
      color: $colorTheme2;
      font:normal 15px/1.5 $basis-font-family;
      margin-bottom: 26px;
    }

    &__link {
      font:normal 15px/1.5 $basis-font-family;
      margin-bottom: 5px;
      display: block;

      &:hover {
        color: darken( $colorTheme3, 10%);
      }

      &_tel {
        color: $colorTheme2;
      }

      &_email {
        color: $colorTheme3;
      }
    }
  }

  @include breakpoint($tablet) {
    padding-bottom: 80px;

    &-wrap {
      margin: 0 -15px;
      padding-top: 58px;

      &__col {

        &-form {
          padding: 0 15px;
          flex: 1 0 auto;
        }
      }
    }

    &-holder {
      min-width: 285px;
      padding: 32px 30px 47px;
    }
  }

  @include breakpoint($mobile) {
    padding-bottom: 30px;

    &-wrap {
      flex-wrap: wrap;
      flex-direction: column;

      &__col {
        display: flex;
        justify-content: center;

        &-form {
          width: 100%;
        }
      }
    }

    &-form {
      padding-bottom: 30px;
    }
  }
}

