body {
     background-color: #fff;
 }

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.holder {
    display: flex;
    flex-direction: column;
}


.holder__row {
    display: flex;
}

.holder__item {
    background-color: transparent;
    /* background-color: #fff; */
    /* border: 1px solid #fff; */
    margin: 1px;
    transition: ease-in-out background-color .3s;
    border-radius: 50%;
}


.holder__item.active {
    background-color: #23CC1C;
}
